<div class="footer">
  <div class="footer-content">
    <div class="site-map">
      <h5>Mapa del sitio:</h5>
      <ul>
        <li><a href="#">Ofertas del día</a></li>
        <li><a href="#">Más vendidos</a></li>
        <li><a href="#">Recomendados para ti</a></li>
        <li><a href="#">Encuéntranos</a></li>
      </ul>
    </div>
    <div class="information">
      <div class="information-content">
        <h5>Información</h5>
        <p>C. 43 #111A entre 78 y 80 Col. Pensiones IV Etapa</p>
        <p>Tel. 9123456</p>
        <p>Correo. tiemda_omline@gmail.com</p>
      </div>
      <div class="interactive-map"></div>
    </div>
    <div class="follow-us">
      <h5>Síguenos</h5>
      <a href="https://imgbb.com/"><img src="https://i.ibb.co/KmprWZZ/clipart3654942.png" alt="clipart3654942" border="0"></a>
      <a href="https://imgbb.com/"><img src="https://i.ibb.co/ZKwSbH7/clipart65693.png" alt="clipart65693" border="0"></a>
      <a href="https://ibb.co/JyBvrDS"><img src="https://i.ibb.co/pR0f4Yk/clipart1538405.png" alt="clipart1538405" border="0"></a>
    </div>
  </div>
  <div class="rights">
    Tiemda Omline &copy; 2020-2021. Todos los derechos reservados.
  </div>
</div>
