<header class="main-header">
  <!-- Start Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light  navbar-default bootsnav">
      <div class="container">
          <!-- Header Navigation -->
          <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>
              <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png"  width="180" height="100" class="logo" alt=""></a>
          </div>
          <!-- Header Navigation -->


          <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                  <li class="nav-item active"><a class="nav-link" href="index.html">Inicio</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/tienda" routerLinkActive="active">Tienda</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contactanos</a></li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->

          <!--  Atribute Navigation -->
          <div class="attr-nav">
              <ul>
                  <li class="side-menu">
                        <a class="nav-link" href="/carrito">
                        <i class="fa fa-shopping-bag"></i>
                        <span class="badge"></span>
                        <p>Mi carrito</p>
                        </a>
                    </li>
              </ul>
          </div>
          <!-- Atribute Navigation -->
      </div>

  </nav>
  <!-- Navigation -->
</header>
<router-outlet></router-outlet>
