<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <figure class="logo">
      <img src="https://www.flaticon.com/svg/static/icons/svg/281/281717.svg" alt="Logo">
    </figure>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Ofertas del Día</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Más vendidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recomendados para ti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Encuéntranos</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-1" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
          </svg>
        </button>
      </form>
    </div>
  </nav>
</div>
