<div class="header">
  <nav class="nav-bar">
    <figure class="logo">
        <img src="https://www.flaticon.com/svg/static/icons/svg/281/281717.svg"
            alt="Logo">
    </figure>
    <figure class="menu-burger">
        <img src="./imagenes_proyecto/openmoji_hamburger-menu.svg"
            alt="Logo">
    </figure>
    <ul>
        <li><a href="index.html">Ofertas del Día</a></li>
        <li><a href="index.html#aboutus">Más vendidos</a></li>
        <li><a href="index.html#services">Recomendados para ti</a></li>
        <li><a href="contact.html">Encuéntranos</a></li>
    </ul>
</nav>
</div>
