.navbar {
  height: 128px;
  font-family: var(--font-primary);
  padding: 64px 79px;
}
.logo img{
  width: 172px;
  height: 90px;
  margin-right: 32px;
}

.nav-item{
  padding-left: 16px;
  padding-right: 16px;
}

.form-control {
  width: 400px;
  height: 40px;
}

