.preview-container{
  display: flex;
  flex-direction: column;
  background-color: #eee;
  justify-content: center;
}
.preview-image{
  margin: 2% 10% 0% 15%;
}

img {
  min-width: 450px;
  min-height: 450px;
  max-width: 500px;
  max-height: 500px;
}

h1 {
  font-weight: bolder;
}

.preview-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buy{
	background-color: transparent;
	color: #434444;
	border-radius: 0;
	border: 1px solid #434444;
	width: 50%;
    margin-top: 20px;
    margin-left: 80px;
}
.buy:hover{
	background-color: #434444;
	color: #fff;
}


p{
  padding: 36px;
  margin: auto;
  margin-bottom: 0;
  width: 70%;
}

.preview-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
