<div class="side-menu">
  <div class="list-group">
    <div class="categories-title list-group-item list-group-item-dark" aria-current="true">
      Categorías
    </div>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Gnome-dev-mouse.svg/1200px-Gnome-dev-mouse.svg.png" alt="" srcset="">
        Mouse
      </figure>
      <span class="badge bg-secondary rounded-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Breathe-input-keyboard.svg/600px-Breathe-input-keyboard.svg.png" alt="" srcset="">
        Teclados
      </figure>
      <span class="badge bg-secondary rounded-pill">21</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://cdn4.iconfinder.com/data/icons/computer-hardware-related-components/128/GPU-512.png" alt="" srcset="">
        Tarjetas Gráficas
      </figure>
      <span class="badge bg-secondary rounded-pill">40</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://freesvg.org/img/Machovka_Computer_system_case.png" alt="" srcset="">
        Gabinetes
      </figure>
      <span class="badge bg-secondary rounded-pill">9</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://cdn0.iconfinder.com/data/icons/pc-hardware-2/128/PC_Hardware_Set_Artboard_15-512.png" alt="" srcset="">
        Fuentes de poder
      </figure>
      <span class="badge bg-secondary rounded-pill">37</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://www.flaticon.com/svg/static/icons/svg/362/362558.svg" alt="" srcset="">
        Memorias RAM
      </figure>
      <span class="badge bg-secondary rounded-pill">95</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://freesvg.org/img/Machovka_harddisk.png" alt="" srcset="">
        HDD y SSD
      </figure>
      <span class="badge bg-secondary rounded-pill">62</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
      <figure clas="list-icon">
        <img src="https://cdn.pling.com/cache/400x400/img//hive/content-pre1/119279-1.png" alt="" srcset="">
        CPU
      </figure>
      <span class="badge bg-secondary rounded-pill">15</span>
    </a>
  </div>
</div>
